{% extends 'base.html' %}

{% block title %}ask{% endblock %}

{% block body %}
    <h1 class="text-success">
        <ins>Новый вопрос:</ins>
    </h1>
    <br>
    <form class="ask-form needs-validation" novalidate>

        <div class="mb-3">
            <h3 class="text-success"><label for="ask-form-title">Заголовок</label></h3>
            <input type="text" class="form-control" id="ask-form-title" placeholder="Сюда заголовок." maxlength="128"
                   required>
            <div class="invalid-feedback">
                Нужно ввести заголовок.
            </div>
        </div>

        <div class="mb-3">
            <h3 class="text-success"><label for="ask-form-text">Текст</label></h3>
            <textarea class="form-control" id="ask-form-text" rows="10" placeholder="Сюда текст." required></textarea>
            <div class="invalid-feedback">
                Нужно ввести текст.
            </div>
        </div>

        <div class="mb-3">
            <h3 class="text-success"><label for="ask-form-tags">Тэги</label></h3>
            <input type="text" class="form-control" id="ask-form-tags" placeholder="Тэг1, Тэг2, ...">
        </div>
        <br>
        <button class="btn btn-success btn-lg" type="submit">Спросить!</button>
    </form>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';

            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');

                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}